@model TaskInsider.InsiderPayInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InsiderPayInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insider.InsiderFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insider.InsiderFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insider.InsiderLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insider.InsiderLastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InsiderPayInfoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
