@model TaskInsider.ServiceType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServiceType</h4>
    <hr />
    <dl class="dl-horizontal">
               
        <dt>
            @Html.DisplayNameFor(model => model.ServiceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTypeDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
