@model IEnumerable<TaskInsider.ServiceType>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTypeDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>       
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTypeDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceTypeID })
        </td>
    </tr>
}

</table>
