@model TaskInsider.InsiderHeaderPhoto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InsiderHeaderPhoto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HeaderFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeaderFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insider.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insider.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InsiderHeaderPhotoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
