@model IEnumerable<TaskInsider.InsiderProfileModule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InsiderHeaderPhoto.HeaderFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsiderPhoto.PhotoFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsiderProfile.InsiderProfileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsiderSkill.InsiderSkillID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InsiderHeaderPhoto.HeaderFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsiderPhoto.PhotoFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsiderProfile.InsiderProfileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsiderSkill.InsiderSkillID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InsiderProfileModuleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InsiderProfileModuleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InsiderProfileModuleID })
        </td>
    </tr>
}

</table>
