@model TaskInsider.ClientPaymentMethod

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClientPaymentMethod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod.PaymentMethod1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod.PaymentMethod1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CvC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CvC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientPaymentMethodID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
